<html>
    <head>
        {% if title %}
        <title>{{ title }} - Meine erste Webseite</title>
        {% else %}
        <title>Meine erste Webseite</title>
        {% endif %}
    </head>
    <body>
        <div>
            Meine erste Webseite:
            <a href="/">Home</a>
            <a href="/myTemp">Meine Temperatur</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>